<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnxy.sale.mapper.SaleOrderSubMapper">

    <select id="getSaleOrderSubListBySaleId" resultType="com.jnxy.sale.entity.SaleOrderSub">
        SELECT *
        FROM sale_order a,
             sale_order_sub b
        WHERE a.`sale_num` = b.`sale_num_sub`
          AND a.`sale_id` = #{saleId}
    </select>
</mapper>
